In [1]:
import sys, os, re; sys.path = (["../src/", "../"] if re.match(r'^(\w\:\\)|(/)', os.getcwd()) else [])+ sys.path 
import numpy as np
import qubx
%qubxd dev

%load_ext autoreload
%autoreload 2

from qubx.core.series import TimeSeries, OHLCV
from qubx.core.utils import recognize_time, time_to_str
from qubx.data.readers import CsvStorageDataReader, AsOhlcvSeries
from qubx.ta.indicators import swings, psar
ohlc = CsvStorageDataReader("../tests/data/csv").read("BTCUSDT_ohlcv_M1", start="2024-01-01", stop="2024-01-15", transform=AsOhlcvSeries('15Min'))

 >  [dev] installing cython rebuilding hook

⠀⠀⡰⡖⠒⠒⢒⢦⠀⠀
⠀⢠⠃⠈⢆⣀⣎⣀⣱⡀  QUBX | Quantitative Backtesting Environment
⠀⢳⠒⠒⡞⠚⡄⠀⡰⠁         (c) 2024, ver. Dev
⠀⠀⠱⣜⣀⣀⣈⣦⠃⠀⠀⠀

In [2]:
ohlc.pd().tail()

,open,high,low,close,volume,bought_volume
timestamp,,,,,,
2024-01-14 23:00:00,42279.9,42328.0,41935.0,42043.3,7215.828,0.0
2024-01-14 23:15:00,42043.3,42150.0,41850.3,42040.9,6947.573,0.0
2024-01-14 23:30:00,42041.0,42136.0,41750.0,41916.7,8196.718,0.0
2024-01-14 23:45:00,41916.6,41994.9,41713.5,41734.9,4345.071,0.0
2024-01-15 00:00:00,41734.9,41797.5,41720.0,41763.1,568.072,0.0

In [ ]:
ohlc.loc['2024-01-01 01:00':'2024-01-01 02:00']

In [ ]:
ohlc.pd().loc[:100]

In [ ]:
(
    all(ohlc.pd().loc['2024-01-01 10:00':'2024-01-01 11:10'] == ohlc.loc['2024-01-01 10:00':'2024-01-01 11:10'].pd()),
    all(ohlc.pd().loc['2021-01-01 10:00':'2030-01-01 11:10'] == ohlc.loc['2021-01-01 10:00':'2030-01-01 11:10'].pd()),
    all(ohlc.pd().loc[:] == ohlc.loc[:].pd()),
    all(ohlc.pd().loc[:'2021-01-01 10:00'] == ohlc.loc[:'2021-01-01 10:00'].pd()),
 )

In [ ]:
ohlc.loc['2024-01-01 02:01':'2029-01-01 02:15']

In [4]:
sw = swings(ohlc, psar)
sw.pd()

                     DownTrends                                        \
                    start_price end_price                 end   delta
2024-01-01 00:30:00         NaN       NaN                 NaT     NaN
2024-01-01 01:30:00     42832.0   42207.9 2024-01-01 05:45:00  -624.1
2024-01-01 05:45:00         NaN       NaN                 NaT     NaN
2024-01-01 11:00:00     42800.0   42638.0 2024-01-01 11:30:00  -162.0
2024-01-01 11:30:00         NaN       NaN                 NaT     NaN
...                         ...       ...                 ...     ...
2024-01-14 12:15:00         NaN       NaN                 NaT     NaN
2024-01-14 17:15:00     43019.1   42000.0 2024-01-14 20:00:00 -1019.1
2024-01-14 20:00:00         NaN       NaN                 NaT     NaN
2024-01-14 20:45:00     42755.0   41713.5 2024-01-14 23:45:00 -1041.5
2024-01-14 23:45:00         NaN       NaN                 NaT     NaN

                                           UpTrends            \
                                spotted start_price end_price
2024-01-01 00:30:00                 NaT     42386.2   42832.0
2024-01-01 01:30:00 2024-01-01 03:30:00         NaN       NaN
2024-01-01 05:45:00                 NaT     42207.9   42800.0
2024-01-01 11:00:00 2024-01-01 11:30:00         NaN       NaN
2024-01-01 11:30:00                 NaT     42638.0   42825.2
...                                 ...         ...       ...
2024-01-14 12:15:00                 NaT     42710.3   43019.1
2024-01-14 17:15:00 2024-01-14 18:45:00         NaN       NaN
2024-01-14 20:00:00                 NaT     42000.0   42755.0
2024-01-14 20:45:00 2024-01-14 21:30:00         NaN       NaN
2024-01-14 23:45:00                 NaT     41713.5       NaN


                                    end  delta             spotted
2024-01-01 00:30:00 2024-01-01 01:30:00  445.8 2024-01-01 01:30:00
2024-01-01 01:30:00                 NaT    NaN                 NaT
2024-01-01 05:45:00 2024-01-01 11:00:00  592.1 2024-01-01 07:15:00
2024-01-01 11:00:00                 NaT    NaN                 NaT
2024-01-01 11:30:00 2024-01-01 12:30:00  187.2 2024-01-01 12:30:00
...                                 ...    ...                 ...
2024-01-14 12:15:00 2024-01-14 17:15:00  308.8 2024-01-14 14:00:00
2024-01-14 17:15:00                 NaT    NaN                 NaT
2024-01-14 20:00:00 2024-01-14 20:45:00  755.0 2024-01-14 20:30:00
2024-01-14 20:45:00                 NaT    NaN                 NaT
2024-01-14 23:45:00                 NaT    NaN 2024-01-14 23:45:00

[95 rows x 10 columns]

In [5]:
sw.bottoms.loc[:]

2024-01-01 00:30:00    42386.2
2024-01-01 05:45:00    42207.9
2024-01-01 11:30:00    42638.0
2024-01-01 14:45:00    42614.5
2024-01-01 22:15:00    43426.0
2024-01-02 05:00:00    45153.0
2024-01-02 11:30:00    45258.0
2024-01-02 21:00:00    44598.0
2024-01-03 04:30:00    45144.0
2024-01-03 07:45:00    44960.0
2024-01-03 12:00:00    40333.0
2024-01-03 18:45:00    41920.0
2024-01-04 10:15:00    42645.1
2024-01-04 16:30:00    43773.4
2024-01-05 01:45:00    42300.0
2024-01-05 14:30:00    43000.0
2024-01-06 07:15:00    43391.3
2024-01-06 12:45:00    43527.2
2024-01-06 20:00:00    43645.0
2024-01-07 02:30:00    43824.2
2024-01-07 09:45:00    43862.8
2024-01-07 17:00:00    43686.9
2024-01-07 23:30:00    43557.5
2024-01-08 02:45:00    43158.1
2024-01-08 09:45:00    43629.7
2024-01-08 15:00:00    44667.4
2024-01-08 21:00:00    46666.1
2024-01-09 00:30:00    46253.7
2024-01-09 09:15:00    46372.0
2024-01-09 13:00:00    46064.1
2024-01-09 21:15:00    44417.2
2024-01-10 13:00:00    44291.5
2024-01-10 20:00:00    44720.0
2024-01-11 06:00:00    45610.1
2024-01-11 13:30:00    46771.0
2024-01-11 17:15:00    45600.0
2024-01-12 04:45:00    45842.2
2024-01-12 09:15:00    45527.5
2024-01-12 16:45:00    43221.1
2024-01-12 19:00:00    43309.4
2024-01-12 22:15:00    41370.0
2024-01-13 12:15:00    42509.8
2024-01-13 20:00:00    42703.2
2024-01-14 04:15:00    42553.0
2024-01-14 09:30:00    42824.2
2024-01-14 12:15:00    42710.3
2024-01-14 20:00:00    42000.0
Name: bottoms, dtype: float64

In [15]:
xxx = sw.loc[:]

 >>>> LOC[0 : 1345] stop=1345
1704067200000000000  :  1705276800000000000
2024-01-01T00:00:00.000000000  :  2024-01-15T00:00:00.000000000
 >>>> LOC[0 : 47] stop=47
 >>>> LOC[0 : 47] stop=47
 >>>> LOC[0 : 47] stop=47
 >>>> LOC[0 : 47] stop=47
 >>>> LOC[0 : 93] stop=93
 >>>> LOC[0 : 93] stop=93

In [ ]:
xxx.tops

In [21]:
all(sw.tops.pd() == xxx.tops.pd())

True

In [26]:
len(sw.loc['2024-01-01 00:30:00':'2024-01-01 11:30:00'])

 >>>> LOC[2 : 47] stop=47
1704069000000000000  :  1704108600000000000
2024-01-01T00:30:00.000000000  :  2024-01-01T11:30:00.000000000
 >>>> LOC[0 : 2] stop=2
 >>>> LOC[0 : 2] stop=2
 >>>> LOC[0 : 3] stop=3
 >>>> LOC[0 : 3] stop=3
 >>>> LOC[0 : 3] stop=3
 >>>> LOC[0 : 3] stop=3

45

In [37]:
len(sw.loc[:'2024-01-02 00:00:00'])

 >>>> LOC[0 : 97] stop=97
1704067200000000000  :  1704153600000000000
2024-01-01T00:00:00.000000000  :  2024-01-02T00:00:00.000000000
 >>>> LOC[0 : 4] stop=4
 >>>> LOC[0 : 4] stop=4
 >>>> LOC[0 : 5] stop=5
 >>>> LOC[0 : 5] stop=5
 >>>> LOC[0 : 8] stop=8
 >>>> LOC[0 : 8] stop=8

97