In [50]:
import sys, os, re; sys.path = (["../src/", "../"] if re.match(r'^(\w\:\\)|(/)', os.getcwd()) else [])+ sys.path 
from typing import Any, List, Tuple, Dict, Optional, Union

import qubx
%qubxd dev

%load_ext autoreload
%autoreload 2

from qubx.data.readers import (
    CsvStorageDataReader, QuestDBConnector,
    AsPandasFrame, AsOhlcvSeries, AsQuotes, RestoreTicksFromOHLC, AsTimestampedRecords,
    CME_FUTURES_DAILY_SESSION, STOCK_DAILY_SESSION
)
import numpy as np

 >  [dev] installing cython rebuilding hook
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# CSV Reader

<font size=+1>Let's create instance for csv data reader. It uses path to folder with csv files as argument.</font>

In [34]:
r = CsvStorageDataReader('../tests/data/csv/')

<font size=+1>Reader provides method for getting all symbols it can access in the storage</font>

In [3]:
r.get_names()

['AAPL',
 'BTCUSDT_ohlcv_M1',
 'BTCUSDT_ohlcv_M1_sec',
 'ETHUSDT.trades',
 'FDI_test',
 'quotes',
 'SOLUSDT',
 'SPY',
 'SPY1']

<font size=+1>We can read data without any transformation - it will return records as plain list </font>

In [4]:
r.read('SPY')[:10]

[array([datetime.date(2000, 1, 3), 107.404545309841, 107.404545309841, 104.23493393897722, 105.36693799999999, 8164300.0], dtype=object),
 array([datetime.date(2000, 1, 4), 103.98585949558047, 104.37077420169946, 101.1671802569384, 101.246443, 8089800.0], dtype=object),
 array([datetime.date(2000, 1, 5), 101.38228283794643, 102.53689364411323, 99.43523586964287, 101.427563, 12177900.0], dtype=object),
 array([datetime.date(2000, 1, 6), 101.15588287295826, 102.51428774591652, 99.797478, 99.797478, 6227200.0], dtype=object),
 array([datetime.date(2000, 1, 7), 101.65396389794167, 105.59333799999999, 101.47284324957117, 105.59333799999999, 8066500.0], dtype=object),
 array([datetime.date(2000, 1, 10), 105.95558, 106.43098837892867, 105.07258350713381, 105.95558, 5741700.0], dtype=object),
 array([datetime.date(2000, 1, 11), 105.63861840614187, 105.84234580983004, 103.9632524048443, 104.687735, 7503700.0], dtype=object),
 array([datetime.date(2000, 1, 12), 104.75562164474871, 104.75562164474871, 103.51045051376147, 103.646291, 6907700.0], dtype=object),
 array([datetime.date(2000, 1, 13), 104.66506129621452, 105.5933379448276, 103.80473821690417, 105.049976, 5158300.0], dtype=object),
 array([datetime.date(2000, 1, 14), 106.15930686485927, 106.83850929730367, 105.75178540539264, 106.47626799999999, 7437300.0], dtype=object)]

<font size=+1>Select range of data we are interested in </font>

In [6]:
r.read('BTCUSDT_ohlcv_M1', '2024-01-10 15:00', '2024-01-10 15:10')

[array([Timestamp('2024-01-10 15:00:00'), 44890.2, 44895.9, 44808.3, 44812.1, 362.186], dtype=object),
 array([Timestamp('2024-01-10 15:01:00'), 44812.1, 44918.8, 44803.5, 44900.0, 932.329], dtype=object),
 array([Timestamp('2024-01-10 15:02:00'), 44900.0, 44984.0, 44875.6, 44970.3, 356.052], dtype=object),
 array([Timestamp('2024-01-10 15:03:00'), 44970.4, 45034.0, 44948.7, 45025.9, 753.383], dtype=object),
 array([Timestamp('2024-01-10 15:04:00'), 45025.9, 45026.0, 44954.6, 44992.8, 366.763], dtype=object),
 array([Timestamp('2024-01-10 15:05:00'), 44992.8, 45023.7, 44954.6, 45020.0, 292.081], dtype=object),
 array([Timestamp('2024-01-10 15:06:00'), 45020.0, 45140.0, 45010.5, 45123.5, 1130.425], dtype=object),
 array([Timestamp('2024-01-10 15:07:00'), 45123.4, 45169.5, 45085.5, 45148.5, 1111.855], dtype=object),
 array([Timestamp('2024-01-10 15:08:00'), 45148.5, 45162.0, 45113.4, 45162.0, 313.443], dtype=object),
 array([Timestamp('2024-01-10 15:09:00'), 45161.9, 45191.4, 45137.2, 45172.4, 453.892], dtype=object),
 array([Timestamp('2024-01-10 15:10:00'), 45172.3, 45287.8, 45155.7, 45264.1, 1134.411], dtype=object)]

<font size=+1>We can read it by chunks if batch streaming processing</font>

In [7]:
# let's read by 100 records
for x in r.read('BTCUSDT_ohlcv_M1', '2024-01-10', '2024-01-11', chunksize=100):
    print(f"{x[0][0]} ~ {x[-1][0]} >> length is {len(x)} records")

2024-01-10 00:00:00 ~ 2024-01-10 01:39:00 >> length is 100 records
2024-01-10 01:40:00 ~ 2024-01-10 03:19:00 >> length is 100 records
2024-01-10 03:20:00 ~ 2024-01-10 04:59:00 >> length is 100 records
2024-01-10 05:00:00 ~ 2024-01-10 06:39:00 >> length is 100 records
2024-01-10 06:40:00 ~ 2024-01-10 08:19:00 >> length is 100 records
2024-01-10 08:20:00 ~ 2024-01-10 09:59:00 >> length is 100 records
2024-01-10 10:00:00 ~ 2024-01-10 11:39:00 >> length is 100 records
2024-01-10 11:40:00 ~ 2024-01-10 13:19:00 >> length is 100 records
2024-01-10 13:20:00 ~ 2024-01-10 14:59:00 >> length is 100 records
2024-01-10 15:00:00 ~ 2024-01-10 16:39:00 >> length is 100 records
2024-01-10 16:40:00 ~ 2024-01-10 18:19:00 >> length is 100 records
2024-01-10 18:20:00 ~ 2024-01-10 19:59:00 >> length is 100 records
2024-01-10 20:00:00 ~ 2024-01-10 21:39:00 >> length is 100 records
2024-01-10 21:40:00 ~ 2024-01-10 23:19:00 >> length is 100 records
2024-01-10 23:20:00 ~ 2024-01-11 00:00:00 >> length is 41 records

<font size=+1>We can apply data transformation on this data. Let's say we want pandas dataframe for some further analysis:</font>

In [10]:
r.read('SPY',  transform=AsPandasFrame())

                 close        high         low        open       volume
Date
2000-01-03  105.366938  107.404545  104.234934  107.404545    8164300.0
2000-01-04  101.246443  104.370774  101.167180  103.985859    8089800.0
2000-01-05  101.427563  102.536894   99.435236  101.382283   12177900.0
2000-01-06   99.797478  102.514288   99.797478  101.155883    6227200.0
2000-01-07  105.593338  105.593338  101.472843  101.653964    8066500.0
...                ...         ...         ...         ...          ...
2017-04-17  234.570007  234.570007  232.880005  233.110001   63559500.0
2017-04-18  233.869995  234.490005  233.080002  233.720001   80188300.0
2017-04-19  233.440002  234.949997  233.179993  234.520004   66861500.0
2017-04-20  235.339996  235.850006  233.779999  234.149994   88657000.0
2017-04-21  234.589996  235.309998  234.130005  235.250000  100595400.0

[4353 rows x 5 columns]

<font size=+1>We can specify custom timestamps formats if need </font>

In [12]:
r.read('AAPL',  transform=AsPandasFrame(), timestamp_formatters=["%d-%m-%Y"])

             Close    High     Low    Open    Volume
Date
2016-06-01   98.46   99.54   98.33   99.02  29173285
2016-06-02   97.72   97.84   96.63   97.60  40191600
2016-06-03   97.92   98.27   97.45   97.79  28504888
2016-06-06   98.63  101.89   97.55   97.99  23292504
2016-06-07   99.03   99.87   98.96   99.25  22409450
...            ...     ...     ...     ...       ...
2016-11-28  111.57  112.46  111.39  111.43  27193983
2016-11-29  111.46  112.03  110.07  110.78  28528750
2016-11-30  110.52  112.20  110.27  111.60  36162258
2016-12-01  109.49  110.94  109.03  110.36  37086862
2016-12-02  109.90  110.09  108.85  109.17  26527997

[130 rows x 5 columns]

<font size=+1>Here we can read quotes and transform them to dataframe</font>

In [13]:
r.read('quotes', transform=AsPandasFrame())

                       ask  askvol    bid  bidvol
time
2017-08-24 13:01:12  10.02     200  10.00     100
2017-08-24 13:01:13  10.00   20000   9.98     100
2017-08-24 13:01:14  10.03     200  10.00     100
2017-08-24 13:01:15  10.02   20000  10.01     100
2017-08-24 13:01:16  10.01     200   9.98     100
...                    ...     ...    ...     ...
2017-08-24 13:09:27   9.33     200   9.30   10000
2017-08-24 13:09:28   9.33     200   9.31   10000
2017-08-24 13:09:29   9.35     200   9.33     100
2017-08-24 13:09:30   9.39     200   9.36     100
2017-08-24 13:09:31   9.39     200   9.36     100

[500 rows x 4 columns]

<font size=+1>It's possible to transform data into Qubx OHLCV series</font>

In [16]:
r.read('BTCUSDT_ohlcv_M1', transform=AsOhlcvSeries())

                        open     high      low    close   volume  \
timestamp
2024-01-01 00:00:00  42314.0  42335.8  42289.6  42331.9  289.641
2024-01-01 00:01:00  42331.9  42353.1  42331.8  42350.4  202.444
2024-01-01 00:02:00  42350.4  42370.8  42349.6  42360.2  271.521
2024-01-01 00:03:00  42360.1  42405.8  42360.1  42405.8  392.238
2024-01-01 00:04:00  42405.7  42437.2  42405.7  42437.1  568.366
...                      ...      ...      ...      ...      ...
2024-02-15 06:13:00  51956.3  51977.9  51956.3  51977.2   86.380
2024-02-15 06:14:00  51977.8  51984.9  51961.5  51983.3  271.145
2024-02-15 06:15:00  51983.3  52015.0  51983.2  51995.9  191.007
2024-02-15 06:16:00  51996.0  52014.7  51965.9  51966.0  261.885
2024-02-15 06:17:00  51965.9  52004.7  51950.0  51950.4  223.358

                     bought_volume
timestamp
2024-01-01 00:00:00            0.0
2024-01-01 00:01:00            0.0
2024-01-01 00:02:00            0.0
2024-01-01 00:03:00            0.0
2024-01-01 00:04:00            0.0
...                            ...
2024-02-15 06:13:00            0.0
2024-02-15 06:14:00            0.0
2024-02-15 06:15:00            0.0
2024-02-15 06:16:00            0.0
2024-02-15 06:17:00            0.0

[65178 rows x 6 columns]

<font size=+1>Resample 1min bars data to daily timeframe on the fly</font>

In [17]:
r.read('BTCUSDT_ohlcv_M1', transform=AsOhlcvSeries('1d'))

               open     high      low    close      volume  bought_volume
timestamp
2024-01-01  42314.0  44266.0  42207.9  44230.2  206424.144            0.0
2024-01-02  44230.3  45950.0  44200.9  44979.8  459798.523            0.0
2024-01-03  44979.7  45582.3  40333.0  42849.5  595855.225            0.0
2024-01-04  42849.5  44840.8  42625.0  44143.8  333923.098            0.0
2024-01-05  44143.8  44500.0  42300.0  44145.4  374967.791            0.0
2024-01-06  44145.3  44214.6  43391.3  43956.7  138542.797            0.0
2024-01-07  43956.6  44486.9  43557.5  43916.9  180710.714            0.0
2024-01-08  43916.9  47312.0  43158.1  46972.7  495087.983            0.0
2024-01-09  46972.6  48100.0  44417.2  46114.0  513362.773            0.0
2024-01-10  46113.9  47699.3  44291.5  46662.9  668657.474            0.0
2024-01-11  46663.0  49027.5  45600.0  46337.8  596698.379            0.0
2024-01-12  46337.9  46536.2  41370.0  42788.9  575943.258            0.0
2024-01-13  42789.0  43273.4  42445.7  42846.4  207737.326            0.0
2024-01-14  42846.4  43096.1  41713.5  41734.9  181096.968            0.0
2024-01-15  41734.9  43376.0  41720.0  42515.0  240059.141            0.0
2024-01-16  42515.0  43589.0  42050.0  43133.0  287207.233            0.0
2024-01-17  43133.0  43198.0  42200.0  42783.4  209396.081            0.0
2024-01-18  42783.3  42932.3  40673.6  41323.1  335080.756            0.0
2024-01-19  41323.2  42197.0  40300.0  41662.2  345941.730            0.0
2024-01-20  41662.1  41883.5  41453.6  41691.8   95866.062            0.0
2024-01-21  41691.8  41880.9  41500.0  41580.0   67035.552            0.0
2024-01-22  41579.9  41692.3  39402.0  39567.0  459024.106            0.0
2024-01-23  39567.1  40172.7  38545.0  39890.0  414373.386            0.0
2024-01-24  39889.9  40560.6  39493.3  40078.7  272754.171            0.0
2024-01-25  40078.8  40300.0  39535.3  39953.3  203728.679            0.0
2024-01-26  39953.3  42239.3  39813.1  41806.4  355418.478            0.0
2024-01-27  41806.4  42187.1  41360.1  42102.2  118437.114            0.0
2024-01-28  42102.2  42836.0  41600.0  42021.2  205736.453            0.0
2024-01-29  42021.2  43340.8  41768.3  43287.7  249502.110            0.0
2024-01-30  43287.6  43888.0  42665.6  42918.3  257582.784            0.0
2024-01-31  42918.3  43748.6  42257.6  42560.5  313069.110            0.0
2024-02-01  42560.5  43288.0  41866.8  43072.6  274321.107            0.0
2024-02-02  43072.6  43480.0  42512.7  43182.0  205767.574            0.0
2024-02-03  43182.0  43372.2  42858.3  42992.4   89735.220            0.0
2024-02-04  42992.4  43112.1  42176.7  42570.3  127421.548            0.0
2024-02-05  42570.3  43580.0  42235.1  42692.9  240655.549            0.0
2024-02-06  42692.9  43378.8  42559.8  43079.1  196157.643            0.0
2024-02-07  43079.1  44388.0  42763.4  44326.2  252057.708            0.0
2024-02-08  44326.3  45600.0  44306.8  45269.1  299738.288            0.0
2024-02-09  45269.2  48230.3  45218.1  47116.1  519919.419            0.0
2024-02-10  47116.1  48189.6  46836.4  47732.6  179626.604            0.0
2024-02-11  47732.6  48600.0  47539.4  48303.4  209951.626            0.0
2024-02-12  48303.4  50413.2  47702.0  49943.6  450895.202            0.0
2024-02-13  49943.6  50428.8  48301.0  49696.4  382348.085            0.0
2024-02-14  49696.4  52100.0  49215.7  51823.2  395191.791            0.0
2024-02-15  51823.1  52568.3  51732.6  51950.4   96504.986            0.0

<font size=+1>Let's make OHLC from quotes and make 2 Min bars out of them: </font>

In [18]:
qbx_ohlc = r.read('quotes', transform=AsOhlcvSeries('2Min'))
qbx_ohlc

                       open    high    low   close  volume  bought_volume
timestamp
2017-08-24 13:00:00  10.010  10.050  9.810  10.050     0.0            0.0
2017-08-24 13:02:00  10.030  10.095  9.565   9.685     0.0            0.0
2017-08-24 13:04:00   9.710   9.925  9.665   9.915     0.0            0.0
2017-08-24 13:06:00   9.915   9.920  9.530   9.530     0.0            0.0
2017-08-24 13:08:00   9.560   9.585  9.240   9.375     0.0            0.0

In [19]:
r.read('quotes', '2017-08-24 13:09:29', '2017-08-24 13:09:29')

[array([Timestamp('2017-08-24 13:09:29'), 9.35, 9.33, 200, 100], dtype=object)]

<font size=+1>Qubx series can be converted to pandas</font>

In [20]:
qbx_ohlc.pd()

                       open    high    low   close  volume  bought_volume
timestamp
2017-08-24 13:00:00  10.010  10.050  9.810  10.050     0.0            0.0
2017-08-24 13:02:00  10.030  10.095  9.565   9.685     0.0            0.0
2017-08-24 13:04:00   9.710   9.925  9.665   9.915     0.0            0.0
2017-08-24 13:06:00   9.915   9.920  9.530   9.530     0.0            0.0
2017-08-24 13:08:00   9.560   9.585  9.240   9.375     0.0            0.0

<font size=+1>Create OHLC from trades</font>

In [21]:
# that's trades from Binance - timestamps are msec
r.read('ETHUSDT.trades', transform=AsOhlcvSeries('5s', timestamp_units='ms'))

                        open     high      low    close        volume  \
timestamp
2024-04-20 00:00:00  3054.91  3054.92  3054.20  3054.68  5.939874e+05
2024-04-20 00:00:05  3054.59  3055.32  3054.54  3055.31  4.855402e+05
2024-04-20 00:00:10  3055.32  3056.15  3054.57  3054.91  1.186494e+06
2024-04-20 00:00:15  3054.90  3056.45  3054.90  3056.31  3.506018e+05
2024-04-20 00:00:20  3056.30  3056.30  3055.10  3055.53  2.049955e+05
2024-04-20 00:00:25  3055.53  3057.21  3055.53  3056.52  9.013015e+05

                     bought_volume
timestamp
2024-04-20 00:00:00   370283.35706
2024-04-20 00:00:05    71978.41917
2024-04-20 00:00:10   282420.97724
2024-04-20 00:00:15    15416.16702
2024-04-20 00:00:20   127399.24401
2024-04-20 00:00:25   417706.04275

<font size=+1>When need just plain list of quotes</font>

In [23]:
r.read('quotes', transform=AsQuotes())[:50] # type: ignore

[[2017-08-24T13:01:12.000000000]	10.00000 (100.0) | 10.02000 (200.0),
 [2017-08-24T13:01:13.000000000]	9.98000 (100.0) | 10.00000 (20000.0),
 [2017-08-24T13:01:14.000000000]	10.00000 (100.0) | 10.03000 (200.0),
 [2017-08-24T13:01:15.000000000]	10.01000 (100.0) | 10.02000 (20000.0),
 [2017-08-24T13:01:16.000000000]	9.98000 (100.0) | 10.01000 (200.0),
 [2017-08-24T13:01:17.000000000]	9.96000 (100.0) | 9.99000 (200.0),
 [2017-08-24T13:01:18.000000000]	9.96000 (10000.0) | 9.99000 (200.0),
 [2017-08-24T13:01:19.000000000]	9.97000 (100.0) | 9.99000 (200.0),
 [2017-08-24T13:01:20.000000000]	9.95000 (10000.0) | 9.98000 (20000.0),
 [2017-08-24T13:01:21.000000000]	9.97000 (10000.0) | 9.98000 (200.0),
 [2017-08-24T13:01:22.000000000]	9.94000 (100.0) | 9.95000 (20000.0),
 [2017-08-24T13:01:23.000000000]	9.96000 (100.0) | 9.99000 (200.0),
 [2017-08-24T13:01:24.000000000]	9.94000 (100.0) | 9.96000 (200.0),
 [2017-08-24T13:01:25.000000000]	9.93000 (10000.0) | 9.96000 (200.0),
 [2017-08-24T13:01:26.000000000]	9.90000 (100.0) | 9.93000 (20000.0),
 [2017-08-24T13:01:27.000000000]	9.88000 (100.0) | 9.90000 (200.0),
 [2017-08-24T13:01:28.000000000]	9.85000 (100.0) | 9.87000 (200.0),
 [2017-08-24T13:01:29.000000000]	9.84000 (100.0) | 9.85000 (200.0),
 [2017-08-24T13:01:30.000000000]	9.81000 (100.0) | 9.84000 (200.0),
 [2017-08-24T13:01:31.000000000]	9.84000 (100.0) | 9.87000 (200.0),
 [2017-08-24T13:01:32.000000000]	9.85000 (100.0) | 9.87000 (200.0),
 [2017-08-24T13:01:33.000000000]	9.85000 (100.0) | 9.87000 (200.0),
 [2017-08-24T13:01:34.000000000]	9.82000 (100.0) | 9.85000 (200.0),
 [2017-08-24T13:01:35.000000000]	9.83000 (10000.0) | 9.85000 (200.0),
 [2017-08-24T13:01:36.000000000]	9.83000 (100.0) | 9.86000 (200.0),
 [2017-08-24T13:01:37.000000000]	9.86000 (100.0) | 9.89000 (200.0),
 [2017-08-24T13:01:38.000000000]	9.83000 (10000.0) | 9.86000 (200.0),
 [2017-08-24T13:01:39.000000000]	9.83000 (100.0) | 9.84000 (200.0),
 [2017-08-24T13:01:40.000000000]	9.82000 (100.0) | 9.85000 (200.0),
 [2017-08-24T13:01:41.000000000]	9.85000 (100.0) | 9.86000 (200.0),
 [2017-08-24T13:01:42.000000000]	9.83000 (10000.0) | 9.86000 (200.0),
 [2017-08-24T13:01:43.000000000]	9.80000 (100.0) | 9.82000 (200.0),
 [2017-08-24T13:01:44.000000000]	9.81000 (100.0) | 9.84000 (200.0),
 [2017-08-24T13:01:45.000000000]	9.84000 (100.0) | 9.86000 (200.0),
 [2017-08-24T13:01:46.000000000]	9.82000 (10000.0) | 9.83000 (200.0),
 [2017-08-24T13:01:47.000000000]	9.82000 (100.0) | 9.85000 (200.0),
 [2017-08-24T13:01:48.000000000]	9.85000 (100.0) | 9.87000 (200.0),
 [2017-08-24T13:01:49.000000000]	9.87000 (100.0) | 9.90000 (20000.0),
 [2017-08-24T13:01:50.000000000]	9.89000 (100.0) | 9.92000 (200.0),
 [2017-08-24T13:01:51.000000000]	9.91000 (100.0) | 9.92000 (200.0),
 [2017-08-24T13:01:52.000000000]	9.91000 (100.0) | 9.93000 (200.0),
 [2017-08-24T13:01:53.000000000]	9.89000 (100.0) | 9.92000 (200.0),
 [2017-08-24T13:01:54.000000000]	9.92000 (100.0) | 9.93000 (20000.0),
 [2017-08-24T13:01:55.000000000]	9.94000 (100.0) | 9.97000 (200.0),
 [2017-08-24T13:01:56.000000000]	9.95000 (100.0) | 9.96000 (200.0),
 [2017-08-24T13:01:57.000000000]	9.98000 (100.0) | 10.01000 (200.0),
 [2017-08-24T13:01:58.000000000]	10.01000 (100.0) | 10.03000 (200.0),
 [2017-08-24T13:01:59.000000000]	10.04000 (100.0) | 10.06000 (200.0),
 [2017-08-24T13:02:00.000000000]	10.02000 (100.0) | 10.04000 (200.0),
 [2017-08-24T13:02:01.000000000]	10.03000 (100.0) | 10.04000 (200.0)]

<font size=+1>Let's <i>'restore'</i> quotes from OHLC bars ;) </font>

In [24]:
r.read('BTCUSDT_ohlcv_M1', '2024-01-01 10:00', '2024-01-01 10:05', 
       transform=RestoreTicksFromOHLC())

[[2024-01-01T10:00:06.000000000]	42688.80000 (1000000000.0) | 42688.80000 (1000000000.0),
 [2024-01-01T10:00:24.000000000]	42686.20000 (1000000000.0) | 42686.20000 (1000000000.0),
 [2024-01-01T10:00:36.000000000]	42696.30000 (1000000000.0) | 42696.30000 (1000000000.0),
 [2024-01-01T10:00:54.000000000]	42695.40000 (1000000000.0) | 42695.40000 (1000000000.0),
 [2024-01-01T10:01:06.000000000]	42695.40000 (1000000000.0) | 42695.40000 (1000000000.0),
 [2024-01-01T10:01:24.000000000]	42687.80000 (1000000000.0) | 42687.80000 (1000000000.0),
 [2024-01-01T10:01:36.000000000]	42698.90000 (1000000000.0) | 42698.90000 (1000000000.0),
 [2024-01-01T10:01:54.000000000]	42696.60000 (1000000000.0) | 42696.60000 (1000000000.0),
 [2024-01-01T10:02:06.000000000]	42696.60000 (1000000000.0) | 42696.60000 (1000000000.0),
 [2024-01-01T10:02:24.000000000]	42706.80000 (1000000000.0) | 42706.80000 (1000000000.0),
 [2024-01-01T10:02:36.000000000]	42692.00000 (1000000000.0) | 42692.00000 (1000000000.0),
 [2024-01-01T10:02:54.000000000]	42692.00000 (1000000000.0) | 42692.00000 (1000000000.0),
 [2024-01-01T10:03:06.000000000]	42691.90000 (1000000000.0) | 42691.90000 (1000000000.0),
 [2024-01-01T10:03:24.000000000]	42688.20000 (1000000000.0) | 42688.20000 (1000000000.0),
 [2024-01-01T10:03:36.000000000]	42700.30000 (1000000000.0) | 42700.30000 (1000000000.0),
 [2024-01-01T10:03:54.000000000]	42695.20000 (1000000000.0) | 42695.20000 (1000000000.0),
 [2024-01-01T10:04:06.000000000]	42695.10000 (1000000000.0) | 42695.10000 (1000000000.0),
 [2024-01-01T10:04:24.000000000]	42695.20000 (1000000000.0) | 42695.20000 (1000000000.0),
 [2024-01-01T10:04:36.000000000]	42683.00000 (1000000000.0) | 42683.00000 (1000000000.0),
 [2024-01-01T10:04:54.000000000]	42685.90000 (1000000000.0) | 42685.90000 (1000000000.0),
 [2024-01-01T10:05:06.000000000]	42685.90000 (1000000000.0) | 42685.90000 (1000000000.0),
 [2024-01-01T10:05:24.000000000]	42685.90000 (1000000000.0) | 42685.90000 (1000000000.0),
 [2024-01-01T10:05:36.000000000]	42724.00000 (1000000000.0) | 42724.00000 (1000000000.0),
 [2024-01-01T10:05:54.000000000]	42716.60000 (1000000000.0) | 42716.60000 (1000000000.0)]

<font size=+1>We can also emulate trades from ohlc bar volumes </font>

In [25]:
r.read('BTCUSDT_ohlcv_M1', '2024-01-01 10:00', '2024-01-01 10:05', 
       transform=RestoreTicksFromOHLC(trades=True))

[[2024-01-01T10:00:06.000000000]	42688.80000 (1000000000.0) | 42688.80000 (1000000000.0),
 [2024-01-01T10:00:06.000000000]	42688.80000 (140.6) <???> ,
 [2024-01-01T10:00:24.000000000]	42686.20000 (1000000000.0) | 42686.20000 (1000000000.0),
 [2024-01-01T10:00:24.000000000]	42686.20000 (357.0) <???> ,
 [2024-01-01T10:00:36.000000000]	42696.30000 (1000000000.0) | 42696.30000 (1000000000.0),
 [2024-01-01T10:00:36.000000000]	42696.30000 (48.7) <???> ,
 [2024-01-01T10:00:54.000000000]	42695.40000 (1000000000.0) | 42695.40000 (1000000000.0),
 [2024-01-01T10:01:06.000000000]	42695.40000 (1000000000.0) | 42695.40000 (1000000000.0),
 [2024-01-01T10:01:06.000000000]	42695.40000 (458.8) <???> ,
 [2024-01-01T10:01:24.000000000]	42687.80000 (1000000000.0) | 42687.80000 (1000000000.0),
 [2024-01-01T10:01:24.000000000]	42687.80000 (72.4) <???> ,
 [2024-01-01T10:01:36.000000000]	42698.90000 (1000000000.0) | 42698.90000 (1000000000.0),
 [2024-01-01T10:01:36.000000000]	42698.90000 (138.8) <???> ,
 [2024-01-01T10:01:54.000000000]	42696.60000 (1000000000.0) | 42696.60000 (1000000000.0),
 [2024-01-01T10:02:06.000000000]	42696.60000 (1000000000.0) | 42696.60000 (1000000000.0),
 [2024-01-01T10:02:06.000000000]	42696.60000 (729.3) <???> ,
 [2024-01-01T10:02:24.000000000]	42706.80000 (1000000000.0) | 42706.80000 (1000000000.0),
 [2024-01-01T10:02:24.000000000]	42706.80000 (328.9) <???> ,
 [2024-01-01T10:02:36.000000000]	42692.00000 (1000000000.0) | 42692.00000 (1000000000.0),
 [2024-01-01T10:02:36.000000000]	42692.00000 (0.0) <???> ,
 [2024-01-01T10:02:54.000000000]	42692.00000 (1000000000.0) | 42692.00000 (1000000000.0),
 [2024-01-01T10:03:06.000000000]	42691.90000 (1000000000.0) | 42691.90000 (1000000000.0),
 [2024-01-01T10:03:06.000000000]	42691.90000 (203.6) <???> ,
 [2024-01-01T10:03:24.000000000]	42688.20000 (1000000000.0) | 42688.20000 (1000000000.0),
 [2024-01-01T10:03:24.000000000]	42688.20000 (181.6) <???> ,
 [2024-01-01T10:03:36.000000000]	42700.30000 (1000000000.0) | 42700.30000 (1000000000.0),
 [2024-01-01T10:03:36.000000000]	42700.30000 (280.7) <???> ,
 [2024-01-01T10:03:54.000000000]	42695.20000 (1000000000.0) | 42695.20000 (1000000000.0),
 [2024-01-01T10:04:06.000000000]	42695.10000 (1000000000.0) | 42695.10000 (1000000000.0),
 [2024-01-01T10:04:06.000000000]	42695.10000 (6.3) <???> ,
 [2024-01-01T10:04:24.000000000]	42695.20000 (1000000000.0) | 42695.20000 (1000000000.0),
 [2024-01-01T10:04:24.000000000]	42695.20000 (584.2) <???> ,
 [2024-01-01T10:04:36.000000000]	42683.00000 (1000000000.0) | 42683.00000 (1000000000.0),
 [2024-01-01T10:04:36.000000000]	42683.00000 (184.1) <???> ,
 [2024-01-01T10:04:54.000000000]	42685.90000 (1000000000.0) | 42685.90000 (1000000000.0),
 [2024-01-01T10:05:06.000000000]	42685.90000 (1000000000.0) | 42685.90000 (1000000000.0),
 [2024-01-01T10:05:06.000000000]	42685.90000 (0.0) <???> ,
 [2024-01-01T10:05:24.000000000]	42685.90000 (1000000000.0) | 42685.90000 (1000000000.0),
 [2024-01-01T10:05:24.000000000]	42685.90000 (5978.1) <???> ,
 [2024-01-01T10:05:36.000000000]	42724.00000 (1000000000.0) | 42724.00000 (1000000000.0),
 [2024-01-01T10:05:36.000000000]	42724.00000 (1441.0) <???> ,
 [2024-01-01T10:05:54.000000000]	42716.60000 (1000000000.0) | 42716.60000 (1000000000.0)]

<font size=+1>In case if we need emulate some session times</font>

For example stock market opens at 9:30 so we need to see first tick at this time

In [26]:
r.read('SPY', transform=RestoreTicksFromOHLC(
    daily_session_start_end=STOCK_DAILY_SESSION
))[:4] # type: ignore

[[2000-01-03T09:30:00.100000000]	107.40455 (1000000000.0) | 107.40455 (1000000000.0),
 [2000-01-03T11:00:00.000000000]	107.40455 (1000000000.0) | 107.40455 (1000000000.0),
 [2000-01-03T13:00:00.000000000]	104.23493 (1000000000.0) | 104.23493 (1000000000.0),
 [2000-01-03T15:59:59.900000000]	105.36694 (1000000000.0) | 105.36694 (1000000000.0)]

<font size=+1>Reading Binance csv historical klines</font>

Reading it as OHLCV series

In [28]:
r.read('SOLUSDT', '2024-04-01', '2024-04-02', transform=AsOhlcvSeries('1Min', timestamp_units='ms'))

                        open     high      low    close       volume  \
timestamp
2024-04-01 00:00:00  202.685  202.722  202.380  202.423  5309466.909
2024-04-01 00:01:00  202.418  202.562  202.264  202.400  3152634.975
2024-04-01 00:02:00  202.399  202.399  202.048  202.207  3585200.142
2024-04-01 00:03:00  202.208  202.544  201.905  202.543  5012365.817
2024-04-01 00:04:00  202.544  202.562  202.322  202.350  3682813.567
...                      ...      ...      ...      ...          ...
2024-04-01 23:56:00  192.538  192.589  192.430  192.550  1229295.304
2024-04-01 23:57:00  192.550  192.610  192.399  192.487  2021187.553
2024-04-01 23:58:00  192.488  192.577  192.380  192.403  1011371.457
2024-04-01 23:59:00  192.403  192.418  192.266  192.355  2281068.747
2024-04-02 00:00:00  192.355  192.415  192.217  192.336  2328390.592

                     bought_volume
timestamp
2024-04-01 00:00:00        10915.0
2024-04-01 00:01:00         6773.0
2024-04-01 00:02:00         6753.0
2024-04-01 00:03:00        13941.0
2024-04-01 00:04:00         5248.0
...                            ...
2024-04-01 23:56:00         2789.0
2024-04-01 23:57:00         5025.0
2024-04-01 23:58:00         1688.0
2024-04-01 23:59:00         6178.0
2024-04-02 00:00:00         6395.0

[1441 rows x 6 columns]

Reading it as list of dictionaries with preprocesed timestamps (convenient for general using)

In [68]:
r.read('SOLUSDT', '2024-04-01', '2024-04-01 00:03', transform=AsTimestampedRecords(timestamp_units='ms'))

[{'open_time': 1711929600000.0,
  'open': 202.685,
  'high': 202.722,
  'low': 202.38,
  'close': 202.423,
  'volume': 26214.0,
  'close_time': 1711929659999.0,
  'quote_volume': 5309466.909,
  'count': 3842.0,
  'taker_buy_volume': 10915.0,
  'taker_buy_quote_volume': 2210838.254,
  'ignore': 0.0,
  'timestamp_ns': 1711929600000000000,
  'timestamp': Timestamp('2024-04-01 00:00:00')},
 {'open_time': 1711929660000.0,
  'open': 202.418,
  'high': 202.562,
  'low': 202.264,
  'close': 202.4,
  'volume': 15578.0,
  'close_time': 1711929719999.0,
  'quote_volume': 3152634.975,
  'count': 2255.0,
  'taker_buy_volume': 6773.0,
  'taker_buy_quote_volume': 1370779.874,
  'ignore': 0.0,
  'timestamp_ns': 1711929660000000000,
  'timestamp': Timestamp('2024-04-01 00:01:00')},
 {'open_time': 1711929720000.0,
  'open': 202.399,
  'high': 202.399,
  'low': 202.048,
  'close': 202.207,
  'volume': 17730.0,
  'close_time': 1711929779999.0,
  'quote_volume': 3585200.142,
  'count': 2406.0,
  'taker_buy_volume': 6753.0,
  'taker_buy_quote_volume': 1365515.224,
  'ignore': 0.0,
  'timestamp_ns': 1711929720000000000,
  'timestamp': Timestamp('2024-04-01 00:02:00')},
 {'open_time': 1711929780000.0,
  'open': 202.208,
  'high': 202.544,
  'low': 201.905,
  'close': 202.543,
  'volume': 24792.0,
  'close_time': 1711929839999.0,
  'quote_volume': 5012365.817,
  'count': 3420.0,
  'taker_buy_volume': 13941.0,
  'taker_buy_quote_volume': 2819287.106,
  'ignore': 0.0,
  'timestamp_ns': 1711929780000000000,
  'timestamp': Timestamp('2024-04-01 00:03:00')}]

Reading quotes as list of dictionaries with preprocesed timestamps

In [82]:
r.read('quotes', '2017-08-24 13:01:12', '1Min', 
       transform=AsTimestampedRecords(timestamp_units='ms'))

[{'time': Timestamp('2017-08-24 13:01:12'),
  'ask': 10.02,
  'bid': 10.0,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579672000000000,
  'timestamp': Timestamp('2017-08-24 13:01:12')},
 {'time': Timestamp('2017-08-24 13:01:13'),
  'ask': 10.0,
  'bid': 9.98,
  'askvol': 20000,
  'bidvol': 100,
  'timestamp_ns': 1503579673000000000,
  'timestamp': Timestamp('2017-08-24 13:01:13')},
 {'time': Timestamp('2017-08-24 13:01:14'),
  'ask': 10.03,
  'bid': 10.0,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579674000000000,
  'timestamp': Timestamp('2017-08-24 13:01:14')},
 {'time': Timestamp('2017-08-24 13:01:15'),
  'ask': 10.02,
  'bid': 10.01,
  'askvol': 20000,
  'bidvol': 100,
  'timestamp_ns': 1503579675000000000,
  'timestamp': Timestamp('2017-08-24 13:01:15')},
 {'time': Timestamp('2017-08-24 13:01:16'),
  'ask': 10.01,
  'bid': 9.98,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579676000000000,
  'timestamp': Timestamp('2017-08-24 13:01:16')},
 {'time': Timestamp('2017-08-24 13:01:17'),
  'ask': 9.99,
  'bid': 9.96,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579677000000000,
  'timestamp': Timestamp('2017-08-24 13:01:17')},
 {'time': Timestamp('2017-08-24 13:01:18'),
  'ask': 9.99,
  'bid': 9.96,
  'askvol': 200,
  'bidvol': 10000,
  'timestamp_ns': 1503579678000000000,
  'timestamp': Timestamp('2017-08-24 13:01:18')},
 {'time': Timestamp('2017-08-24 13:01:19'),
  'ask': 9.99,
  'bid': 9.97,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579679000000000,
  'timestamp': Timestamp('2017-08-24 13:01:19')},
 {'time': Timestamp('2017-08-24 13:01:20'),
  'ask': 9.98,
  'bid': 9.95,
  'askvol': 20000,
  'bidvol': 10000,
  'timestamp_ns': 1503579680000000000,
  'timestamp': Timestamp('2017-08-24 13:01:20')},
 {'time': Timestamp('2017-08-24 13:01:21'),
  'ask': 9.98,
  'bid': 9.97,
  'askvol': 200,
  'bidvol': 10000,
  'timestamp_ns': 1503579681000000000,
  'timestamp': Timestamp('2017-08-24 13:01:21')},
 {'time': Timestamp('2017-08-24 13:01:22'),
  'ask': 9.95,
  'bid': 9.94,
  'askvol': 20000,
  'bidvol': 100,
  'timestamp_ns': 1503579682000000000,
  'timestamp': Timestamp('2017-08-24 13:01:22')},
 {'time': Timestamp('2017-08-24 13:01:23'),
  'ask': 9.99,
  'bid': 9.96,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579683000000000,
  'timestamp': Timestamp('2017-08-24 13:01:23')},
 {'time': Timestamp('2017-08-24 13:01:24'),
  'ask': 9.96,
  'bid': 9.94,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579684000000000,
  'timestamp': Timestamp('2017-08-24 13:01:24')},
 {'time': Timestamp('2017-08-24 13:01:25'),
  'ask': 9.96,
  'bid': 9.93,
  'askvol': 200,
  'bidvol': 10000,
  'timestamp_ns': 1503579685000000000,
  'timestamp': Timestamp('2017-08-24 13:01:25')},
 {'time': Timestamp('2017-08-24 13:01:26'),
  'ask': 9.93,
  'bid': 9.9,
  'askvol': 20000,
  'bidvol': 100,
  'timestamp_ns': 1503579686000000000,
  'timestamp': Timestamp('2017-08-24 13:01:26')},
 {'time': Timestamp('2017-08-24 13:01:27'),
  'ask': 9.9,
  'bid': 9.88,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579687000000000,
  'timestamp': Timestamp('2017-08-24 13:01:27')},
 {'time': Timestamp('2017-08-24 13:01:28'),
  'ask': 9.87,
  'bid': 9.85,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579688000000000,
  'timestamp': Timestamp('2017-08-24 13:01:28')},
 {'time': Timestamp('2017-08-24 13:01:29'),
  'ask': 9.85,
  'bid': 9.84,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579689000000000,
  'timestamp': Timestamp('2017-08-24 13:01:29')},
 {'time': Timestamp('2017-08-24 13:01:30'),
  'ask': 9.84,
  'bid': 9.81,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579690000000000,
  'timestamp': Timestamp('2017-08-24 13:01:30')},
 {'time': Timestamp('2017-08-24 13:01:31'),
  'ask': 9.87,
  'bid': 9.84,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579691000000000,
  'timestamp': Timestamp('2017-08-24 13:01:31')},
 {'time': Timestamp('2017-08-24 13:01:32'),
  'ask': 9.87,
  'bid': 9.85,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579692000000000,
  'timestamp': Timestamp('2017-08-24 13:01:32')},
 {'time': Timestamp('2017-08-24 13:01:33'),
  'ask': 9.87,
  'bid': 9.85,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579693000000000,
  'timestamp': Timestamp('2017-08-24 13:01:33')},
 {'time': Timestamp('2017-08-24 13:01:34'),
  'ask': 9.85,
  'bid': 9.82,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579694000000000,
  'timestamp': Timestamp('2017-08-24 13:01:34')},
 {'time': Timestamp('2017-08-24 13:01:35'),
  'ask': 9.85,
  'bid': 9.83,
  'askvol': 200,
  'bidvol': 10000,
  'timestamp_ns': 1503579695000000000,
  'timestamp': Timestamp('2017-08-24 13:01:35')},
 {'time': Timestamp('2017-08-24 13:01:36'),
  'ask': 9.86,
  'bid': 9.83,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579696000000000,
  'timestamp': Timestamp('2017-08-24 13:01:36')},
 {'time': Timestamp('2017-08-24 13:01:37'),
  'ask': 9.89,
  'bid': 9.86,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579697000000000,
  'timestamp': Timestamp('2017-08-24 13:01:37')},
 {'time': Timestamp('2017-08-24 13:01:38'),
  'ask': 9.86,
  'bid': 9.83,
  'askvol': 200,
  'bidvol': 10000,
  'timestamp_ns': 1503579698000000000,
  'timestamp': Timestamp('2017-08-24 13:01:38')},
 {'time': Timestamp('2017-08-24 13:01:39'),
  'ask': 9.84,
  'bid': 9.83,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579699000000000,
  'timestamp': Timestamp('2017-08-24 13:01:39')},
 {'time': Timestamp('2017-08-24 13:01:40'),
  'ask': 9.85,
  'bid': 9.82,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579700000000000,
  'timestamp': Timestamp('2017-08-24 13:01:40')},
 {'time': Timestamp('2017-08-24 13:01:41'),
  'ask': 9.86,
  'bid': 9.85,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579701000000000,
  'timestamp': Timestamp('2017-08-24 13:01:41')},
 {'time': Timestamp('2017-08-24 13:01:42'),
  'ask': 9.86,
  'bid': 9.83,
  'askvol': 200,
  'bidvol': 10000,
  'timestamp_ns': 1503579702000000000,
  'timestamp': Timestamp('2017-08-24 13:01:42')},
 {'time': Timestamp('2017-08-24 13:01:43'),
  'ask': 9.82,
  'bid': 9.8,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579703000000000,
  'timestamp': Timestamp('2017-08-24 13:01:43')},
 {'time': Timestamp('2017-08-24 13:01:44'),
  'ask': 9.84,
  'bid': 9.81,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579704000000000,
  'timestamp': Timestamp('2017-08-24 13:01:44')},
 {'time': Timestamp('2017-08-24 13:01:45'),
  'ask': 9.86,
  'bid': 9.84,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579705000000000,
  'timestamp': Timestamp('2017-08-24 13:01:45')},
 {'time': Timestamp('2017-08-24 13:01:46'),
  'ask': 9.83,
  'bid': 9.82,
  'askvol': 200,
  'bidvol': 10000,
  'timestamp_ns': 1503579706000000000,
  'timestamp': Timestamp('2017-08-24 13:01:46')},
 {'time': Timestamp('2017-08-24 13:01:47'),
  'ask': 9.85,
  'bid': 9.82,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579707000000000,
  'timestamp': Timestamp('2017-08-24 13:01:47')},
 {'time': Timestamp('2017-08-24 13:01:48'),
  'ask': 9.87,
  'bid': 9.85,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579708000000000,
  'timestamp': Timestamp('2017-08-24 13:01:48')},
 {'time': Timestamp('2017-08-24 13:01:49'),
  'ask': 9.9,
  'bid': 9.87,
  'askvol': 20000,
  'bidvol': 100,
  'timestamp_ns': 1503579709000000000,
  'timestamp': Timestamp('2017-08-24 13:01:49')},
 {'time': Timestamp('2017-08-24 13:01:50'),
  'ask': 9.92,
  'bid': 9.89,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579710000000000,
  'timestamp': Timestamp('2017-08-24 13:01:50')},
 {'time': Timestamp('2017-08-24 13:01:51'),
  'ask': 9.92,
  'bid': 9.91,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579711000000000,
  'timestamp': Timestamp('2017-08-24 13:01:51')},
 {'time': Timestamp('2017-08-24 13:01:52'),
  'ask': 9.93,
  'bid': 9.91,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579712000000000,
  'timestamp': Timestamp('2017-08-24 13:01:52')},
 {'time': Timestamp('2017-08-24 13:01:53'),
  'ask': 9.92,
  'bid': 9.89,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579713000000000,
  'timestamp': Timestamp('2017-08-24 13:01:53')},
 {'time': Timestamp('2017-08-24 13:01:54'),
  'ask': 9.93,
  'bid': 9.92,
  'askvol': 20000,
  'bidvol': 100,
  'timestamp_ns': 1503579714000000000,
  'timestamp': Timestamp('2017-08-24 13:01:54')},
 {'time': Timestamp('2017-08-24 13:01:55'),
  'ask': 9.97,
  'bid': 9.94,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579715000000000,
  'timestamp': Timestamp('2017-08-24 13:01:55')},
 {'time': Timestamp('2017-08-24 13:01:56'),
  'ask': 9.96,
  'bid': 9.95,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579716000000000,
  'timestamp': Timestamp('2017-08-24 13:01:56')},
 {'time': Timestamp('2017-08-24 13:01:57'),
  'ask': 10.01,
  'bid': 9.98,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579717000000000,
  'timestamp': Timestamp('2017-08-24 13:01:57')},
 {'time': Timestamp('2017-08-24 13:01:58'),
  'ask': 10.03,
  'bid': 10.01,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579718000000000,
  'timestamp': Timestamp('2017-08-24 13:01:58')},
 {'time': Timestamp('2017-08-24 13:01:59'),
  'ask': 10.06,
  'bid': 10.040000000000001,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579719000000000,
  'timestamp': Timestamp('2017-08-24 13:01:59')},
 {'time': Timestamp('2017-08-24 13:02:00'),
  'ask': 10.04,
  'bid': 10.02,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579720000000000,
  'timestamp': Timestamp('2017-08-24 13:02:00')},
 {'time': Timestamp('2017-08-24 13:02:01'),
  'ask': 10.04,
  'bid': 10.03,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579721000000000,
  'timestamp': Timestamp('2017-08-24 13:02:01')},
 {'time': Timestamp('2017-08-24 13:02:02'),
  'ask': 10.04,
  'bid': 10.01,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579722000000000,
  'timestamp': Timestamp('2017-08-24 13:02:02')},
 {'time': Timestamp('2017-08-24 13:02:03'),
  'ask': 10.01,
  'bid': 9.99,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579723000000000,
  'timestamp': Timestamp('2017-08-24 13:02:03')},
 {'time': Timestamp('2017-08-24 13:02:04'),
  'ask': 10.01,
  'bid': 10.0,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579724000000000,
  'timestamp': Timestamp('2017-08-24 13:02:04')},
 {'time': Timestamp('2017-08-24 13:02:05'),
  'ask': 10.03,
  'bid': 10.0,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579725000000000,
  'timestamp': Timestamp('2017-08-24 13:02:05')},
 {'time': Timestamp('2017-08-24 13:02:06'),
  'ask': 10.0,
  'bid': 9.99,
  'askvol': 20000,
  'bidvol': 100,
  'timestamp_ns': 1503579726000000000,
  'timestamp': Timestamp('2017-08-24 13:02:06')},
 {'time': Timestamp('2017-08-24 13:02:07'),
  'ask': 10.04,
  'bid': 10.01,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579727000000000,
  'timestamp': Timestamp('2017-08-24 13:02:07')},
 {'time': Timestamp('2017-08-24 13:02:08'),
  'ask': 10.04,
  'bid': 10.03,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579728000000000,
  'timestamp': Timestamp('2017-08-24 13:02:08')},
 {'time': Timestamp('2017-08-24 13:02:09'),
  'ask': 10.07,
  'bid': 10.06,
  'askvol': 200,
  'bidvol': 10000,
  'timestamp_ns': 1503579729000000000,
  'timestamp': Timestamp('2017-08-24 13:02:09')},
 {'time': Timestamp('2017-08-24 13:02:10'),
  'ask': 10.1,
  'bid': 10.09,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579730000000000,
  'timestamp': Timestamp('2017-08-24 13:02:10')},
 {'time': Timestamp('2017-08-24 13:02:11'),
  'ask': 10.09,
  'bid': 10.06,
  'askvol': 20000,
  'bidvol': 100,
  'timestamp_ns': 1503579731000000000,
  'timestamp': Timestamp('2017-08-24 13:02:11')},
 {'time': Timestamp('2017-08-24 13:02:12'),
  'ask': 10.08,
  'bid': 10.06,
  'askvol': 200,
  'bidvol': 100,
  'timestamp_ns': 1503579732000000000,
  'timestamp': Timestamp('2017-08-24 13:02:12')}]

In [81]:
r.read('SOLUSDT', '2024-04-01', '2024-04-02', transform=AsPandasFrame(timestamp_units='ms'))

,close,close_time,count,high,ignore,low,open,quote_volume,taker_buy_quote_volume,taker_buy_volume,volume
timestamp,,,,,,,,,,,
2024-04-01 00:00:00,202.423,1.711930e+12,3842.0,202.722,0.0,202.380,202.685,5309466.909,2210838.254,10915.0,26214.0
2024-04-01 00:01:00,202.400,1.711930e+12,2255.0,202.562,0.0,202.264,202.418,3152634.975,1370779.874,6773.0,15578.0
2024-04-01 00:02:00,202.207,1.711930e+12,2406.0,202.399,0.0,202.048,202.399,3585200.142,1365515.224,6753.0,17730.0
2024-04-01 00:03:00,202.543,1.711930e+12,3420.0,202.544,0.0,201.905,202.208,5012365.817,2819287.106,13941.0,24792.0
2024-04-01 00:04:00,202.350,1.711930e+12,2092.0,202.562,0.0,202.322,202.544,3682813.567,1062461.802,5248.0,18192.0
...,...,...,...,...,...,...,...,...,...,...,...
2024-04-01 23:56:00,192.550,1.712016e+12,1094.0,192.589,0.0,192.430,192.538,1229295.304,536886.308,2789.0,6386.0
2024-04-01 23:57:00,192.487,1.712016e+12,1156.0,192.610,0.0,192.399,192.550,2021187.553,967392.928,5025.0,10500.0
2024-04-01 23:58:00,192.403,1.712016e+12,784.0,192.577,0.0,192.380,192.488,1011371.457,324965.809,1688.0,5254.0
2024-04-01 23:59:00,192.355,1.712016e+12,1546.0,192.418,0.0,192.266,192.403,2281068.747,1188248.709,6178.0,11860.0
2024-04-02 00:00:00,192.336,1.712016e+12,2045.0,192.415,0.0,192.217,192.355,2328390.592,1230011.496,6395.0,12107.0

# Quest DB

We can do the same things with other connector - for example QuestDB

In [83]:
qreader = QuestDBConnector('user=admin password=quest host=localhost port=8812')

2024-05-15 15:23:09.142 [ ℹ️ ] Connecting to QuestDB ...

In [84]:
qreader.get_names()

['BINANCEF.ETHUSDT', 'BINANCEF.BTCUSDT']

In [85]:
qreader.read("BINANCEF.ETHUSDT", '2023-01-01', '2023-01-02', timeframe='5m', transform=AsPandasFrame())

,close,count,high,low,open,quote_volume,taker_buy_quote_volume,taker_buy_volume,volume
timestamp,,,,,,,,,
2023-01-01 00:00:00,1196.29,1202.0,1196.30,1195.42,1196.02,3.189650e+06,1.656171e+06,1384.950,2667.388
2023-01-01 00:05:00,1195.49,888.0,1196.68,1195.49,1196.51,2.033846e+06,6.262188e+05,523.413,1700.149
2023-01-01 00:10:00,1194.25,2060.0,1195.48,1194.00,1195.45,6.401944e+06,3.201785e+06,2680.286,5359.232
2023-01-01 00:15:00,1196.00,1274.0,1196.12,1194.65,1194.71,3.122414e+06,2.307215e+06,1930.066,2611.958
2023-01-01 00:20:00,1195.96,842.0,1196.46,1195.94,1196.32,1.571853e+06,6.017303e+05,502.994,1313.989
...,...,...,...,...,...,...,...,...,...
2023-01-01 23:35:00,1200.12,1188.0,1200.47,1198.82,1199.12,2.533064e+06,1.547148e+06,1289.895,2111.763
2023-01-01 23:40:00,1200.05,905.0,1200.90,1199.94,1200.15,1.945826e+06,9.407156e+05,783.523,1620.790
2023-01-01 23:45:00,1199.34,837.0,1199.52,1199.03,1199.51,1.427222e+06,6.588002e+05,549.352,1190.088
2023-01-01 23:50:00,1200.16,1064.0,1200.16,1199.06,1199.91,2.832485e+06,2.184066e+06,1820.417,2360.866
2023-01-01 23:55:00,1199.96,956.0,1200.69,1199.75,1200.68,2.291290e+06,1.108656e+06,923.740,1908.980

In [86]:
qreader.read("BINANCEF.ETHUSDT", '2023-01-01', '2023-01-02', timeframe='5m', transform=AsOhlcvSeries())

                        open     high      low    close        volume  \
timestamp
2023-01-01 00:00:00  1196.02  1196.30  1195.42  1196.29  3.189650e+06
2023-01-01 00:05:00  1196.51  1196.68  1195.49  1195.49  2.033846e+06
2023-01-01 00:10:00  1195.45  1195.48  1194.00  1194.25  6.401944e+06
2023-01-01 00:15:00  1194.71  1196.12  1194.65  1196.00  3.122414e+06
2023-01-01 00:20:00  1196.32  1196.46  1195.94  1195.96  1.571853e+06
...                      ...      ...      ...      ...           ...
2023-01-01 23:35:00  1199.12  1200.47  1198.82  1200.12  2.533064e+06
2023-01-01 23:40:00  1200.15  1200.90  1199.94  1200.05  1.945826e+06
2023-01-01 23:45:00  1199.51  1199.52  1199.03  1199.34  1.427222e+06
2023-01-01 23:50:00  1199.91  1200.16  1199.06  1200.16  2.832485e+06
2023-01-01 23:55:00  1200.68  1200.69  1199.75  1199.96  2.291290e+06

                     bought_volume
timestamp
2023-01-01 00:00:00       1384.950
2023-01-01 00:05:00        523.413
2023-01-01 00:10:00       2680.286
2023-01-01 00:15:00       1930.066
2023-01-01 00:20:00        502.994
...                            ...
2023-01-01 23:35:00       1289.895
2023-01-01 23:40:00        783.523
2023-01-01 23:45:00        549.352
2023-01-01 23:50:00       1820.417
2023-01-01 23:55:00        923.740

[288 rows x 6 columns]

In [87]:
qreader.read(
    "BINANCEF.ETHUSDT", '2023-01-01', '2023-01-02', timeframe='5m', 
    transform=RestoreTicksFromOHLC(trades=True)
)[:50]

[[2023-01-01T00:00:30.000000000]	1196.02000 (1000000000.0) | 1196.02000 (1000000000.0),
 [2023-01-01T00:00:30.000000000]	1196.02000 (1600.4) <???> ,
 [2023-01-01T00:02:00.000000000]	1195.42000 (1000000000.0) | 1195.42000 (1000000000.0),
 [2023-01-01T00:02:00.000000000]	1195.42000 (720.2) <???> ,
 [2023-01-01T00:03:00.000000000]	1196.30000 (1000000000.0) | 1196.30000 (1000000000.0),
 [2023-01-01T00:03:00.000000000]	1196.30000 (26.7) <???> ,
 [2023-01-01T00:04:30.000000000]	1196.29000 (1000000000.0) | 1196.29000 (1000000000.0),
 [2023-01-01T00:05:30.000000000]	1196.51000 (1000000000.0) | 1196.51000 (1000000000.0),
 [2023-01-01T00:05:30.000000000]	1196.51000 (289.0) <???> ,
 [2023-01-01T00:07:00.000000000]	1196.68000 (1000000000.0) | 1196.68000 (1000000000.0),
 [2023-01-01T00:07:00.000000000]	1196.68000 (1734.2) <???> ,
 [2023-01-01T00:08:00.000000000]	1195.49000 (1000000000.0) | 1195.49000 (1000000000.0),
 [2023-01-01T00:08:00.000000000]	1195.49000 (0.0) <???> ,
 [2023-01-01T00:09:30.000000000]	1195.49000 (1000000000.0) | 1195.49000 (1000000000.0),
 [2023-01-01T00:10:30.000000000]	1195.45000 (1000000000.0) | 1195.45000 (1000000000.0),
 [2023-01-01T00:10:30.000000000]	1195.45000 (160.8) <???> ,
 [2023-01-01T00:12:00.000000000]	1195.48000 (1000000000.0) | 1195.48000 (1000000000.0),
 [2023-01-01T00:12:00.000000000]	1195.48000 (6431.1) <???> ,
 [2023-01-01T00:13:00.000000000]	1194.00000 (1000000000.0) | 1194.00000 (1000000000.0),
 [2023-01-01T00:13:00.000000000]	1194.00000 (1339.8) <???> ,
 [2023-01-01T00:14:30.000000000]	1194.25000 (1000000000.0) | 1194.25000 (1000000000.0),
 [2023-01-01T00:15:30.000000000]	1194.71000 (1000000000.0) | 1194.71000 (1000000000.0),
 [2023-01-01T00:15:30.000000000]	1194.71000 (156.7) <???> ,
 [2023-01-01T00:17:00.000000000]	1194.65000 (1000000000.0) | 1194.65000 (1000000000.0),
 [2023-01-01T00:17:00.000000000]	1194.65000 (3369.4) <???> ,
 [2023-01-01T00:18:00.000000000]	1196.12000 (1000000000.0) | 1196.12000 (1000000000.0),
 [2023-01-01T00:18:00.000000000]	1196.12000 (313.4) <???> ,
 [2023-01-01T00:19:30.000000000]	1196.00000 (1000000000.0) | 1196.00000 (1000000000.0),
 [2023-01-01T00:20:30.000000000]	1196.32000 (1000000000.0) | 1196.32000 (1000000000.0),
 [2023-01-01T00:20:30.000000000]	1196.32000 (184.0) <???> ,
 [2023-01-01T00:22:00.000000000]	1196.46000 (1000000000.0) | 1196.46000 (1000000000.0),
 [2023-01-01T00:22:00.000000000]	1196.46000 (473.0) <???> ,
 [2023-01-01T00:23:00.000000000]	1195.94000 (1000000000.0) | 1195.94000 (1000000000.0),
 [2023-01-01T00:23:00.000000000]	1195.94000 (26.3) <???> ,
 [2023-01-01T00:24:30.000000000]	1195.96000 (1000000000.0) | 1195.96000 (1000000000.0),
 [2023-01-01T00:25:30.000000000]	1196.32000 (1000000000.0) | 1196.32000 (1000000000.0),
 [2023-01-01T00:25:30.000000000]	1196.32000 (418.1) <???> ,
 [2023-01-01T00:27:00.000000000]	1196.21000 (1000000000.0) | 1196.21000 (1000000000.0),
 [2023-01-01T00:27:00.000000000]	1196.21000 (114.0) <???> ,
 [2023-01-01T00:28:00.000000000]	1196.85000 (1000000000.0) | 1196.85000 (1000000000.0),
 [2023-01-01T00:28:00.000000000]	1196.85000 (1900.3) <???> ,
 [2023-01-01T00:29:30.000000000]	1196.35000 (1000000000.0) | 1196.35000 (1000000000.0),
 [2023-01-01T00:30:30.000000000]	1195.53000 (1000000000.0) | 1195.53000 (1000000000.0),
 [2023-01-01T00:30:30.000000000]	1195.53000 (539.5) <???> ,
 [2023-01-01T00:32:00.000000000]	1195.65000 (1000000000.0) | 1195.65000 (1000000000.0),
 [2023-01-01T00:32:00.000000000]	1195.65000 (6563.7) <???> ,
 [2023-01-01T00:33:00.000000000]	1193.55000 (1000000000.0) | 1193.55000 (1000000000.0),
 [2023-01-01T00:33:00.000000000]	1193.55000 (2337.7) <???> ,
 [2023-01-01T00:34:30.000000000]	1194.07000 (1000000000.0) | 1194.07000 (1000000000.0),
 [2023-01-01T00:35:30.000000000]	1193.57000 (1000000000.0) | 1193.57000 (1000000000.0)]

We can use deltas instead of exact times

In [88]:
qreader.read("BINANCEF.ETHUSDT", '2023-01-01', '1d', timeframe='5m', transform=AsPandasFrame())

,close,count,high,low,open,quote_volume,taker_buy_quote_volume,taker_buy_volume,volume
timestamp,,,,,,,,,
2023-01-01 00:00:00,1196.29,1202.0,1196.30,1195.42,1196.02,3.189650e+06,1.656171e+06,1384.950,2667.388
2023-01-01 00:05:00,1195.49,888.0,1196.68,1195.49,1196.51,2.033846e+06,6.262188e+05,523.413,1700.149
2023-01-01 00:10:00,1194.25,2060.0,1195.48,1194.00,1195.45,6.401944e+06,3.201785e+06,2680.286,5359.232
2023-01-01 00:15:00,1196.00,1274.0,1196.12,1194.65,1194.71,3.122414e+06,2.307215e+06,1930.066,2611.958
2023-01-01 00:20:00,1195.96,842.0,1196.46,1195.94,1196.32,1.571853e+06,6.017303e+05,502.994,1313.989
...,...,...,...,...,...,...,...,...,...
2023-01-01 23:35:00,1200.12,1188.0,1200.47,1198.82,1199.12,2.533064e+06,1.547148e+06,1289.895,2111.763
2023-01-01 23:40:00,1200.05,905.0,1200.90,1199.94,1200.15,1.945826e+06,9.407156e+05,783.523,1620.790
2023-01-01 23:45:00,1199.34,837.0,1199.52,1199.03,1199.51,1.427222e+06,6.588002e+05,549.352,1190.088
2023-01-01 23:50:00,1200.16,1064.0,1200.16,1199.06,1199.91,2.832485e+06,2.184066e+06,1820.417,2360.866
2023-01-01 23:55:00,1199.96,956.0,1200.69,1199.75,1200.68,2.291290e+06,1.108656e+06,923.740,1908.980

In [90]:
qreader.read("BINANCEF.ETHUSDT", '2023-01-01', '-1d', timeframe='5m', transform=AsPandasFrame())

,close,count,high,low,open,quote_volume,taker_buy_quote_volume,taker_buy_volume,volume
timestamp,,,,,,,,,
2022-12-31 00:00:00,1198.75,1397.0,1199.66,1198.69,1199.57,3.072898e+06,1.430514e+06,1193.120,2562.743
2022-12-31 00:05:00,1198.07,952.0,1198.64,1198.04,1198.14,1.788619e+06,1.150721e+06,960.284,1492.669
2022-12-31 00:10:00,1196.80,2974.0,1197.97,1196.46,1197.84,7.588446e+06,3.121122e+06,2607.008,6338.849
2022-12-31 00:15:00,1197.42,1015.0,1197.60,1196.87,1196.99,2.516592e+06,1.705503e+06,1424.535,2101.995
2022-12-31 00:20:00,1198.33,1107.0,1198.50,1198.00,1198.00,2.204805e+06,1.021694e+06,852.629,1839.940
...,...,...,...,...,...,...,...,...,...
2022-12-31 23:35:00,1196.55,1894.0,1197.48,1196.55,1197.43,4.805083e+06,2.006399e+06,1676.145,4014.308
2022-12-31 23:40:00,1196.78,639.0,1197.00,1196.54,1196.56,1.419789e+06,7.113449e+05,594.393,1186.410
2022-12-31 23:45:00,1196.32,767.0,1196.81,1196.14,1196.80,1.960512e+06,7.446607e+05,622.429,1638.606
2022-12-31 23:50:00,1196.16,1061.0,1196.28,1195.89,1195.99,1.575409e+06,1.077169e+06,900.581,1317.143
2022-12-31 23:55:00,1196.03,1457.0,1196.10,1195.04,1195.58,3.026258e+06,9.789086e+05,818.665,2531.088

In [89]:
qreader.read("BINANCEF.ETHUSDT", '1d', '2023-01-01', timeframe='5m', transform=AsPandasFrame())

,close,count,high,low,open,quote_volume,taker_buy_quote_volume,taker_buy_volume,volume
timestamp,,,,,,,,,
2022-12-31 00:00:00,1198.75,1397.0,1199.66,1198.69,1199.57,3.072898e+06,1.430514e+06,1193.120,2562.743
2022-12-31 00:05:00,1198.07,952.0,1198.64,1198.04,1198.14,1.788619e+06,1.150721e+06,960.284,1492.669
2022-12-31 00:10:00,1196.80,2974.0,1197.97,1196.46,1197.84,7.588446e+06,3.121122e+06,2607.008,6338.849
2022-12-31 00:15:00,1197.42,1015.0,1197.60,1196.87,1196.99,2.516592e+06,1.705503e+06,1424.535,2101.995
2022-12-31 00:20:00,1198.33,1107.0,1198.50,1198.00,1198.00,2.204805e+06,1.021694e+06,852.629,1839.940
...,...,...,...,...,...,...,...,...,...
2022-12-31 23:35:00,1196.55,1894.0,1197.48,1196.55,1197.43,4.805083e+06,2.006399e+06,1676.145,4014.308
2022-12-31 23:40:00,1196.78,639.0,1197.00,1196.54,1196.56,1.419789e+06,7.113449e+05,594.393,1186.410
2022-12-31 23:45:00,1196.32,767.0,1196.81,1196.14,1196.80,1.960512e+06,7.446607e+05,622.429,1638.606
2022-12-31 23:50:00,1196.16,1061.0,1196.28,1195.89,1195.99,1.575409e+06,1.077169e+06,900.581,1317.143
2022-12-31 23:55:00,1196.03,1457.0,1196.10,1195.04,1195.58,3.026258e+06,9.789086e+05,818.665,2531.088

In [112]:
qreader.read("BINANCEF.ETHUSDT", '2023-01-01 00:00', '+30Min', timeframe='15m', transform=AsTimestampedRecords())

[{'timestamp': Timestamp('2023-01-01 00:00:00'),
  'open': 1196.02,
  'high': 1196.68,
  'low': 1194.0,
  'close': 1194.25,
  'volume': 9726.769,
  'quote_volume': 11625439.546769999,
  'count': 4150.0,
  'taker_buy_volume': 4588.649,
  'taker_buy_quote_volume': 5484175.4272799995,
  'timestamp_ns': datetime.datetime(2023, 1, 1, 0, 0)},
 {'timestamp': Timestamp('2023-01-01 00:15:00'),
  'open': 1194.71,
  'high': 1196.85,
  'low': 1194.65,
  'close': 1196.35,
  'volume': 7726.482,
  'quote_volume': 9241588.008429999,
  'count': 3648.0,
  'taker_buy_volume': 4675.714,
  'taker_buy_quote_volume': 5592227.14887,
  'timestamp_ns': datetime.datetime(2023, 1, 1, 0, 15)}]

# OrderBook data reader idea

In [19]:
from qubx.data.readers import (
    QuestDBOrderBookConnector, SnapshotsBuilder
)

In [20]:
bookreader = QuestDBOrderBookConnector('user=admin password=quest host=localhost port=8812')

2024-05-13 18:25:19.240 [ ℹ️ ] Connecting to QuestDB ...

In [ ]:
bookreader.get_names()

In [ ]:
bookreader.read("BINANCEF.ETHUSDT", '2023-01-01 12:00', '1h', 
                transform=SnapshotsBuilder(levels=10, as_frame=True))